<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YelpRBC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC7D04721C7D48E200ED541C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC7D048E1C7D48E300ED541C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC7D04991C7D48E300ED541C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
